header.top-header {
  height: 400px;
  width: 100%;
  font-weight: bold;
  background-color: rgb(175, 34, 194);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
  padding: 0;
  margin-top: 120px;
 
}

h2 {
  font-weight: lighter
}

header img {
  margin-top: 2rem;
}

