nav {
  height: 120px;
  width: 100vw;
  background-color: rgb(212, 113, 130);
  background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

nav + header {
  padding-top: 250px;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 50px;
}

nav div {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#togglearrow {
  color: red;
}

.write {
  display: flex;
  flex-direction: column;
}

.arrow {
  align-items: center;
  justify-content: center;
}


/* Responsive design for screens larger than 1024px. */

@media screen and (min-width: 1024px) {
  nav {
    background-color: #24bfc4;
 }
};