.alert1 {
  margin-top: 1em;
  padding: 20px;
  background-color: rgb(211, 15, 15);
  color: white;
  font-weight: bold;
  width: 100%;
  visibility: hidden;
}

.showAlert1 {
  visibility: visible;
}

form button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
}

form div {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

form output {
  font-family: 'Bungee', sans-serif;
}

form textarea {
  background-color: #f4f1ec;
  width: 100%;
  border: none;
  border-bottom: 6px solid #545149;
  padding-top: 0.5em;
  line-height: 1.5;
  
}

label {
  font-weight: bold;
}

.red {
  color: red
}

.new-tweet {
  margin-top: 2rem;
}



